<div class="bg-[#F6F5F1] p-5">
  <div>
    <img
      class="w-full"
      src="../../assets/img/Pg 1_ Cel_Img 1_Portada.jpg"
      alt=""
    />
    <p class="text-base text-center">
      Las fotografías captura nuestros recuerdos y son pruebas de nuestra
      realidad. Recuerdos y se convierten en la parte tangible de nuestra vida.
    </p>
    <p class="text-sm text-center">
      Realizo fotografía familiares, matrimonios, 15 años, parejas y sesiones
      personales.
    </p>
    <img src="../../assets/icon/Recurso Pg 1_ Firma.svg" alt="" />
  </div>
</div>
